body{
    height: 100%;
    margin: 0;
}
.animals-container{
    background-image: url(assets/background.png); 
    background-repeat: no-repeat;
    width:100vw;
    height: 100vh;
    background-size: 100% 100% ;
    background-position: center;
    position:fixed;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.App {
  text-align: center;
}
.fond {
 
  background-image: url(../public/fond.png);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.backg {
 
  background-image: url(../public/anim3.png);
  position: fixed;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.food{
  width: 200px;
  letter-spacing: 7px;
  height: 80px;
  margin: 100px auto;
  position: relative;
  left: 20%;
  font-size: 50px;
  top: 130px;
  color: #3b3c47;
}

.playing{
  width: 200px;
  height: 100px;
  margin: 100px auto;
  position: relative;
  left: 20%;
  top: 160px;
  font-size: 50px;
  letter-spacing: 7px;
  color: #3b3c47;
}
.cleanness{
  width: 200px;
  height: 100px;
  margin: 100px auto;
  position: relative;
  left: 20%;
  top: 160px;
  font-size: 50px;
  letter-spacing: 7px;
  color: #3b3c47;
}
.water{
  width: 200px;
  height: 100px;
  margin: 100px auto;
  position: relative;
  left: 20%;
  font-size: 50px;
  top: 150px;
  letter-spacing: 7px;
  color: #3b3c47;
}

h1{
  margin: 0;
  padding: 0;
  font-family: cartoon;
  font-size: 2.5em;
  text-align: center;
  position: relative;
  top: 30%;
  color: #fff;
  transform: translateY(-30%);
 
}
.petit{
  margin-left: 50%;
}
.imag1{
  margin-top: 2%;
  min-width: 100%;
  min-height: 100%;
  margin-left: -50%;
}
.imag2{
  width: 120px;
  height: 120px;
  margin-top: -100%;
  margin-left: 2%;
}

.imag4{
  width: 120px;
  height: 120px;
  margin-top: -100%;
  margin-left: 2%;  
}

.imag3{
  width: 300px;
  height: 300px;
  margin-top: -100%;
  margin-left: 88%;
  margin-bottom: -44%;
}

.petit1{
  display: flex;
  position: absolute;
  margin-top: -980px;
  margin-left: 20px;
}
.petit2{
  display: flex;
  position: absolute;
  margin-top: 150px;
  margin-left: 30px;
}
.para{
  font-family: cartoon;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  margin-top: -210px;
  color: #282c34;
}
select{
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 1em 7em 1.5em;
  background: #4d5061;
  color: white;
  border: 10;
  text-align: center;  
}
.s1{
  font-size: 2rem;
}
.s2{
  font-size: 2.03rem;
}
.s3{
  font-size: 1.575rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 120px;
}
.s4{
  font-size: 1.78rem;
  height: 120px;
  font-family: Verdana, Geneva, Tahoma, serif;
}
.custom-select{
  position: absolute;
  top: 28%;
  left: 17%;

}

.animals-list{
    display: grid;
    position:relative;
    grid-template: auto auto / repeat(4,1fr);
    gap:50px;
    row-gap: 70px;
    margin-left: 400px;
    margin-top: 200px;
    position: fixed;
    
}
.custom-select1{
  position: absolute;
  top: 44%;
  left: 17%;
}
.animal-item{
    color: #ffff;
    
}

.link {
    color: var(--grey-500);
}
  
.active {
    color: var(--primary-500);
}
.custom-select2{
  position: absolute;
  top: 60%;
  left: 17%;
}

.custom-select3{
  position: absolute;
  top: 75%;
  left: 17%;
}


@media screen and (min-width: 600px) {
  .petit {
    width: min-content;
    margin-top: 2%;
  }
  
  .para  {
    margin-top: -150px;
    font-size: xx-large ;
    margin-bottom: -70px;
  } 
  .imag2{
    max-width: 80px;
    margin-top: 10px;
    max-height: min-content;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.animal-image {
    width: 110px;
    height: 115px;
}

.choose-animal {
    color: #ffff;
    position:absolute; 
    font-size:30px;
    margin-left: 550px;
    margin-top: 100px; 
    font-family: 'Roboto', sans-serif;
}


.single-animal-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: translateY(340px);
}

.single-animal{
    height: 200px;
    width: 200px;
}

.mic-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    transform: translateY(200px) translateX(600px);
}

.mic{
    width: 50px;
    height: 50px;
}

.animal-needs {
    border-color: #000;
    border-radius: 50%;
}

.mic-button{
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    transform: translateY(280px) translateX(620px);
}

.stats1{
    display: grid;
    position: absolute;
    grid-template: auto auto / repeat(2,1fr);   
    gap:200px;
    padding: 30px;
    margin-left: 100px;
    margin-top: 190px;
}

.stats2 {
    display: grid;
    position: absolute;
    grid-template: auto auto / repeat(2,1fr);
    gap:200px;
    padding: 30px;
    margin-left: 900px;
    margin-top: 190px;
}

.settings {
    display: flex;
    justify-self: right;
    align-self: center;
    padding: 10px;
    position: absolute;
    height: 70px;
    width: 70px;
    margin-left: 1250px;
    margin-top: 20px;
}

.arrow {
    display: flex;
    padding: 10px;
    height: 50px;
    width: 70px;
    position: absolute;
    margin-top: 20px;
}
.exit {
    display: flex;
    height:56px;
    width: 62px;
    padding: 10px;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.param{
    display: flex;
    padding: 10px;
    position: absolute;
    height:61px;
    width:60px;
    margin-top: 530px;
    margin-left: 1250px;


}